.bg{
    background-image: url(./assets/voiture.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;

}
#car{
    background-color: #FEFFFE;
    border : 1px solid #DDDDDD;
    border-radius: 6px;
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
}
#car:hover{
border: 1px solid rgb(107, 178, 223);
}